<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Đặt lại mật khẩu</title>
</head>
<body>
    <h1>Yêu cầu đặt lại mật khẩu</h1>
    <p>Chào bạn,</p>
    <p>Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn. Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này.</p>
    <p>Để đặt lại mật khẩu, vui lòng nhấp vào liên kết dưới đây:</p>
    <a href="{{url}}">Đặt lại mật khẩu</a>
    <p>Liên kết này sẽ hết hạn sau 5 phút.</p>
    <p>Trân trọng,<br>Đội ngũ hỗ trợ</p>
</body>
</html>
